<div class="container">
  <%= provide(:title, t('remainders.name')) %>
  <h4>
    <strong><%= t('remainders.tab.period') %> </strong>
    <%= @period.name %>
  </h4>
  <h3>
    <strong><%= t('remainders.tab.checking_date') %></strong>
    <%= date_by_format(@remainder.checking_date) %>
  </h3>
  <p>
    <strong><%= t('remainders.tab.user') %>: </strong>
    <%= @remainder.user.name %>
  </p>

  <p>
    <strong><%= t('remainders.tab.product') %>: </strong>
    <%= @remainder.product.name_with_unit %>
  </p>

  <p>
    <strong><%= t('remainders.tab.left') %>: </strong>
    <%= @remainder.left %>
  </p>
  <% if @remainder.left_finished.present? %>
    <p>
      <strong><%= t('remainders.tab.left_finished') %>: </strong>
      <%= @remainder.left_finished %>
    </p>
  <% end %>
</div>

<div class="container btn-container">
  <% if can?(:update, @remainder) %>
      <%= render 'shared/link_default', { path: edit_period_remainder_path(@period, @remainder), title: t('button.edit') } %>
  <% end %>
  <%= render 'shared/link_default', { path: period_remainders_path(@period), title: t('button.back') } %>
</div>
