<% if recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
    <% recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form.hidden_field :dish_id, id: :recipe_dish_id, value: @dish.id %>

<div class="field">
  <%= form.select :product_id do %>
    <% @products.each do |product| %>
      <%= content_tag(:option, "#{product.name}, #{product.unit}", value: product.id) %>
    <% end %>
  <% end %>
</div>

<div class="field">
  <%= form.label :quantity %>
  <%= form.number_field :quantity, id: :recipe_quantity %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

