<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Dish</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.dish_id %></td>
        <td><%= recipe.product_id %></td>
        <td><%= recipe.quantity %></td>
        <td><%= link_to 'Show', dish_recipe_path(@dish, recipe) %></td>
        <td><%= link_to 'Edit', edit_dish_recipe_path(@dish, recipe) %></td>
        <td><%= link_to 'Destroy',
                        dish_recipe_path(@dish, recipe),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_dish_recipe_path(@dish) %>
