<p id="notice"><%= notice %></p>
<h1>Product for <span><%= @dish.name %></span></h1>

<p>
  <strong>Product:</strong>
  <%= @recipe.product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @recipe.quantity %> <%= @recipe.product.unit %>
</p>

<% if can?(:update, Recipe)  %>
  <%= link_to 'Edit', edit_dish_recipe_path(@dish, @recipe) %> |
<% end %>
<%= link_to 'Back', dish_recipes_path(@dish) %>
