<div class="container">
  <%= provide(:title, t('periods.name')) %>
  <h1><%= t('periods.view.title_edit') %></h1>

  <%= render 'form', period: @period %>
</div>


<div class="container btn-container">
  <%= render 'shared/link_default', { path: periods_path, title: t('button.back') } %>
  <%= render 'shared/link_default', { path: @period, title: t('button.show') } %>
</div>

