<div class="container">
  <%= provide(:title, t('periods.name')) %>
  <h1><%= t('periods.view.title_show') %></h1>
  <p>
    <strong>Start date:</strong>
    <%= @period.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= @period.finish_date %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= @period.days %>
  </p>
</div>

<div class="container btn-container">
  <% if can?(:update, @period) %>
    <%= render 'shared/link_default', { path: edit_period_path(@period), title: t('button.edit') } %>
  <% end %>
  <%= render 'shared/link_default', { path: periods_path, title: t('button.back') } %>
</div>