<div class="container">
  <%= provide(:title, t('purchases.name')) %>
  <h1><%= t('purchases.view.title_edit') %>></h1>
  <h4>
    <strong><%= t('remainders.tab.period') %>: </strong>
    <%= @period.name %>
  </h4>
  <%= form_with(model: @purchase,
                url: {action:"update",
                      controller: "purchases",
                      period_id: @period.id},
                method: :patch) do |form| %>

    <%= render 'form', { form: form, purchase: @purchase } %>
  <% end %>
</div>

<div class="container btn-container">
  <%= render 'shared/link_default', { path: period_purchases_path(@period), title: t('button.back') } %>
  <%= render 'shared/link_default', { path: period_purchase_path(@period, @purchase), title: t('button.show') } %>
</div>

