<div class="container empty-container">
  <%= provide(:title, t('purchases.name')) %>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('purchases.tab.user') %></th>
        <th><%= t('purchases.tab.product') %></th>
        <th><%= t('purchases.tab.period') %></th>
        <th><%= t('purchases.tab.date_purchase') %></th>
        <th><%= t('purchases.tab.bought') %></th>
        <th><%= t('purchases.tab.cost') %>, <%= t('currency') %></th>
        <th><%= t('purchases.tab.left') %></th>
        <th><%= t('purchases.tab.left_finished') %></th>
        <th><%= t('purchases.tab.description') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.user.name %></td>
          <td><%= purchase.product.name_with_unit %></td>
          <td><%= purchase.period.name %></td>
          <td><%= date_by_format(purchase.date_purchase) %></td>
          <td><%= purchase.bought %></td>
          <td><%= purchase.cost_float %></td>
          <td><%= purchase.left %></td>
          <td><%= purchase.left_finished %></td>
          <td><%= purchase.description.truncate(50, separator: ' ') %></td>
          <td>
            <%= link_to purchase do %>
              <i class="fa fa-file-text-o"></i>
            <% end %>
          </td>
          <td>
            <% if can?(:update, purchase)  %>
              <%= link_to edit_purchase_path(purchase) do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container btn-container">
  <% if can?(:create, Purchase) %>
      <%= render 'shared/link_default', { path: new_purchase_path, title: t('purchases.view.title_new') } %>
  <% end %>
</div>

