<div class="<%#= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Product", products_path %></div>
  <div><%= link_to "Places", places_path %></div>
  <div><%= link_to "Purchases", purchases_path %></div>
  <%= login_helper %>
</div>