  <!--header-->
  <div class="header">
    <div class="logo">
      <h1>
        <%= link_to root_path do %>
            <%= image_tag 'fransua_logo.jpg', width: '100' %>
        <% end %>
      </h1>
    </div>
    <div class="top-nav">
      <span class="menu"><%= image_tag 'menu.png' %></span>
      <ul>

        <li><%= link_to t('home'), root_path, class: "active" %></li>

        <li><%= link_to t('dishes.name'), dishes_path, class: "active" %></li>

        <% if can?(:show, Product) %>
            <li><%= link_to t('products.name'), products_path %></li>
        <% end %>
        <% if can?(:show, Place) %>
            <li><%= link_to t('places.name'), places_path %></li>
        <% end %>
        <% if can?(:show, Purchase) %>
            <li><%= link_to t('purchases.name'), purchases_path %></li>
        <% end %>
        <% if can?(:show, Period) %>
            <li><%= link_to t('periods.name'), periods_path %></li>
        <% end %>

        <% if can?(:access, :rails_admin) %>
            <li><%= link_to "Admin", '/admin' %></li>
        <% end %>

        <%= login_helper %>
      </ul>
      <!-- script-for-menu -->
      <script>
        $("span.menu").click(function(){
          $(".top-nav ul").slideToggle("slow" , function(){
          });
        });
      </script>
      <!-- script-for-menu -->
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--//header-->
