<div class="<%#= location %>">
  <% if can?(:show, Dish) %>
    <div><%= link_to t('home'), root_path %></div>
  <% end %>
  <% if can?(:show, Product) %>
    <div><%= link_to t('products.name'), products_path %></div>
  <% end %>
  <% if can?(:show, Place) %>
    <div><%= link_to t('places.name'), places_path %></div>
  <% end %>
  <% if can?(:show, Purchase) %>
    <div><%= link_to t('purchases.name'), purchases_path %></div>
  <% end %>
  <% if can?(:show, Period) %>
      <div><%= link_to t('periods.name'), periods_path %></div>
  <% end %>

  <% if can?(:access, :rails_admin) %>
      <div><%= link_to "Admin", '/admin' %></div>
  <% end %>

  <%= login_helper %>
</div>