<%= provide(:title, t('ingredient.name')) %>
<div class="container">
  <h1>Editing Ingredient for <%= @dish.name %></h1>

  <%= form_with(model: @ingredient,
                url: {action:"update",
                      controller: "ingredients",
                      dish_id: @dish.id},
                method: :put) do |form| %>

      <%= render 'form', { form: form, ingredient: @ingredient } %>
  <% end %>

</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: dish_ingredients_path(@dish), title: t('button.back') } %>
  <%= render 'shared/link_default', { path: dish_ingredient_path(@dish, @ingredient), title: t('button.show') } %>
</div>