<%= provide(:title, t('ingredient.name')) %>
<div class="container">
<h1><%= t('ingredient.view.title_edit') %> <%= @dish.name %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= t('ingredient.tab.product') %></th>
      <th><%= t('ingredient.tab.quantity') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.product.name_with_unit %></td>
        <td><%= ingredient.quantity %></td>
        <!--<td>-->
          <!--<%#= link_to dish_ingredient_path(@dish, ingredient) do %>-->
              <!--<i class="fa fa-file-text-o"></i>-->
          <!--<%# end %>-->
        <!--</td>-->
        <td>
          <%= link_to edit_dish_ingredient_path(@dish, ingredient) do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: dish_path(@dish), title: t('button.back') } %>
  <%= render 'shared/link_default', { path: new_dish_ingredient_path(@dish), title: t('ingredient.view.add') } %>
</div>

