<p id="notice"><%= notice %></p>

<h1>Ingredients for <%= @dish.name %></h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.product.name_with_unit %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= link_to 'Show', dish_ingredient_path(@dish, ingredient) %></td>
        <td><%= link_to 'Edit', edit_dish_ingredient_path(@dish, ingredient) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_dish_ingredient_path(@dish) %>
