<%= provide(:title, t('ingredient.name')) %>
<div class="container">
<h1><%= t('ingredient.view.title_edit') %> <%= @dish.name %></h1>
<%= form_with(model: @ingredient,
              url: {action:"create",
                    controller: "ingredients",
                    dish_id: @dish.id},
              method: :post) do |form| %>
    <%= render 'form', { form: form, ingredient: @ingredient }  %>
<% end %>

</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: dish_ingredients_path(@dish), title: t('button.back') } %>
</div>