<%= provide(:title, t('ingredient.name')) %>
<div class="container">

  <p>
    <strong><%= t('dishes.name') %>:</strong>
    <%= @dish.name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= @ingredient.product.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @ingredient.quantity %>
  </p>

</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: dish_ingredients_path(@dish), title: t('button.back') } %>
  <%= render 'shared/link_default', { path: edit_dish_ingredient_path(@dish, @ingredient), title: t('button.edit') } %>
</div>