
<% if order.errors.any? %>
    <% order.errors.full_messages.each do |error| %>
        <%= alert_generator(error) %>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form.hidden_field :period_id, id: :order_period_id, value: @period.id %>

    <div class="form-group">
      <%= form.label t('orders.tab.dish') %>
      <%= form.collection_select(:dish_id, Dish.all.order(name: :asc), :id, :name,
                                 {
                                     include_blank: true
                                 },
                                 class: 'form-control'
          )
      %>
    </div>

    <div class="form-group">
      <%= form.label t('orders.tab.user') %>
      <%= form.collection_select(:user_id, User.cooks, :id, :name,
                                 {
                                     include_blank: true
                                 },
                                 class: 'form-control'
          )
      %>
    </div>


    <div class="form-group">
      <%= form.label t('orders.tab.quantity') %>
      <%= form.number_field :quantity, id: :order_quantity, class: 'form-control' %>
    </div>


    <div class="actions">
      <%= form.submit t('orders.save'), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>