<%= provide(:title, t('orders.name')) %>
<div class="container">
  <h1><%= t('orders.view.title_edit') %></h1>
  <h2><%= @period.start_date %> - <%= @period.finish_date %></h2>
  <%= form_with(model: @order,
                url: {action:"update",
                      controller: "orders",
                      period_id: @period.id},
                method: :patch) do |form| %>
    <%= render 'form', { order: @order, form: form } %>
  <% end %>
</div>

<div class="container btn-container">
  <%= render 'shared/link_default', { path: edit_period_order_path(@period, @order), title: t('button.edit') } %>
  <%= render 'shared/link_default', { path: period_orders_path(@period), title: t('button.back') } %>
</div>
