<div class="container empty-container">
  <%= provide(:title, t('orders.name')) %>
  <h2><%= date_by_format(@period.start_date) %> - <%= date_by_format(@period.finish_date) %></h2>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th><%= t('orders.tab.dish') %></th>
        <th><%= t('orders.tab.user') %></th>
        <th><%= t('orders.tab.quantity') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= image_tag(dish_img(order.dish.image.thumb, 'thumb')) %></td>
          <td><%= order.dish.name %></td>
          <td><%= order.user.name %></td>
          <td><%= order.quantity %></td>
          <td>
            <% if can?(:update, order) %>
              <%= link_to edit_period_order_path(@period, order) do %>
                  <i class="fa fa-pencil-square-o"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if can?(:show, order) %>
              <%= link_to t('orders.view.report'), order_products_path(@period, order.user_id) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: periods_path, title: t('button.back') } %>
  <% if can?(:create, Order) %>
    <%= render 'shared/link_default', { path: new_period_order_path(@period), title: t('orders.view.add') } %>
  <% end %>
</div>

