<%= provide(:title, t('orders.name')) %>
<div class="container">
  <h1><%= t('orders.view.title_new') %></h1>
  <h2><%= date_by_format(@period.start_date) %> - <%= date_by_format(@period.finish_date) %></h2>
  <%= form_with(model: @order,
                url: {action:"create",
                      controller: "orders",
                      dish_id: @period.id},
                method: :post) do |form| %>
    <%= render 'form', { form: form, order: @order } %>
  <% end %>
</div>
<div class="container btn-container">
  <%= render 'shared/link_default', { path: period_orders_path(@period), title: t('button.back') } %>
</div>

