<% dishes.each do |dish| %>

  <div class="col-md-6 w3l-special-grid">
    <div class="col-md-6 w3ls-special-img"
         style="background: url(<%= dish_img(dish.image.middle, 'middle') %>) no-repeat 0px 0px">
      <div class="wpf-demo-6">
        <div class="w3ls-special-text">
          <p><%= dish.price %><sub><%= t('currency') %></sub></p>
        </div>
        <figcaption class="view-caption">
          <h4></h4>
          <%= link_to t('dishes.name'), dishes_path %>
        </figcaption>
      </div>
    </div>
    <div class="col-md-6 agileits-special-info">
      <h4><%= dish.name %></h4>
      <p><%= dish.description %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
<% end %>