<div class="services">
  <div class="container">
    <div class="services-info">
      <h3><%= t('banner.services.title') %></h3>
      <p><%= t('banner.services.text') %></p>
    </div>
  </div>

  <div class="services-grids">

    <div id="owl-demo" class="owl-carousel owl-theme">

      <% t('banner.services.slides').each do |slide|%>
        <div class="item">
          <div class="services-grid-info">
            <%= image_tag slide[1].to_h[:img] %>
            <div class="services-grid-caption">
              <%= fa_icon('fa-coffee') %>
              <h4><%= slide[1].to_h[:title] %></h4>
              <p><%= slide[1].to_h[:text] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>