<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
      <% dish.errors.full_messages.each do |error| %>
          <%= alert_generator(error) %>
      <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label t('dishes.tab.name') %>
        <%= form.text_field :name, id: :dish_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.file_field :image, id: :book_image, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label t('dishes.tab.description') %>
        <%= form.text_area :description, id: :dish_description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label t('dishes.tab.price') %>
        <%= form.number_field :price, id: :dish_price, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit t('dishes.save'), class: 'btn btn-primary btn-block' %>
      </div>
  </div>
  <div class="col-md-3"></div>
</div>
<% end %>
