<h1><%= t('dishes.view.title_edit') %></h1>
<%= provide(:title, t('dishes.name')) %>
<%= render 'form', dish: @dish %>

<div class="container btn-container">
  <%= render 'shared/link_default', { path: @dish, title: t('button.show') } %>
  <%= render 'shared/link_default', { path: dishes_path, title: t('button.back') } %>
</div>