<%= provide(:title, t('dishes.name')) %>

<div class="blog">
  <div class="container">
    <div class="agile-blog-grids">
      <div class="col-md-8 agile-blog-grid-left">
        <div class="agile-blog-grid">
          <div class="agile-blog-grid-left-img">
            <%= link_to "#" do %>
              <%= image_tag dish_img(@dish.image) %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="col-md-4 agile-blog-grid-right">
        <h3><%= @dish.name %></h3>
        <div class="categories">
          <h3>Ingredients:</h3>
          <ul>
            <% @dish.ingredients.each do |ingredient| %>
              <li><b><%= ingredient.product.name_with_unit %> <%= ingredient.quantity %></b></li>
            <% end %>
          </ul>
        </div>
        <div class="categories">
          <p>
            <%= @dish.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>
      <% if can?(:create, @dish)  %>
        <%= render 'shared/link_default', { path: edit_dish_path(@dish), title: t('button.edit') } %>
      <% end %>
      <% if can?(:create, Ingredient)  %>
        <%= render 'shared/link_default', { path: dish_ingredients_path(@dish), title: t('button.edit_ingredients') } %>
      <% end %>
      <%= render 'shared/link_default', { path: dishes_path, title: t('button.back') } %>
    </h3>
  </div>
</div>



