<p id="notice"><%= notice %></p>
<%= image_tag dish_img(@dish.image) %>
<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Prise:</strong>
  <%= @dish.prise %>
</p>

<% if can?(:create, @dish)  %>
  <%= link_to 'Edit', edit_dish_path(@dish) %>
<% end %>
<% if can?(:create, Ingredient)  %>
  <%= link_to 'Edit recipe', dish_ingredients_path(@dish) %>|
<% end %>
<%= link_to 'Back', dishes_path %>
