<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <% product.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label t('products.tab.name') %>
        <%= form.text_field :name, id: :product_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label t('products.tab.boiling') %>
        <%= form.check_box :boiling, id: :product_boiling %>
      </div>

      <div class="form-group">
        <%= form.label t('products.tab.percent') %>
        <%= form.text_field :percent_of_recycling, id: :product_percent_of_recycling, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.radio_button :measuring, 'weight' %>
        <%= form.label :status, t('products.measuring.weight') %>

        <%= form.radio_button :measuring, 'piece' %>
        <%= form.label :status, t('products.measuring.piece') %>
      </div>

      <div class="actions">
        <%= form.submit t('products.save'), class: 'btn btn-primary btn-block' %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
