<div class="container">
  <%= provide(:title, t('products.name')) %>

  <h1><%= t('products.view.title_edit') %></h1>

  <%= render 'form', product: @product %>
</div>

<div class="container btn-container">
  <%= render 'shared/link_default', { path: products_path, title: t('button.back') } %>
  <%= render 'shared/link_default', { path: @product, title: t('button.show') } %>
</div>

