<div class="container">
  <%= provide(:title, t('products.name')) %>
  <div class="container btn-container">
    <% if can?(:create, Product) %>
      <%= render 'shared/link_default', { path: new_product_path, title: t('products.view.title_new') } %>
    <% end %>
  </div>
  <%= paginate @products %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('products.tab.name') %></th>
        <th><%= t('products.tab.boiling') %></th>
        <th><%= t('products.tab.percent') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name_with_unit %></td>
          <td><%= boiling_show(product.boiling) %></td>
          <td><%= product.percent_of_recycling %></td>
          <td>
            <%= link_to product do %>
                <i class="fa fa-file-text-o"></i>
            <% end %>
          </td>
          <td>
            <% if can?(:update, product) %>
              <%= link_to edit_product_path(product) do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @products %>
</div>
<br>
<div class="container btn-container">
  <% if can?(:create, Product) %>
      <%= render 'shared/link_default', { path: new_product_path, title: t('products.view.title_new') } %>
  <% end %>
</div>