<div class="container">
  <%= provide(:title, t('products.name')) %>

  <h2>
    <%= @product.name %>
  </h2>

  <p>
    <strong><%= t('products.tab.boiling') %>: </strong>
    <%= boiling_show(@product.boiling) %>
  </p>

  <p>
    <strong><%= t('products.tab.percent') %>:</strong>
    <%= @product.percent_of_recycling %>
  </p>

  <p>
    <strong><%= t('products.tab.measuring') %>:</strong>
    <%= @product.unit %>
  </p>

</div>


<div class="container btn-container">
  <% if can?(:update, Product) %>
      <%= render 'shared/link_default', { path: edit_product_path(@product), title: t('button.edit') } %>
  <% end %>
  <%= render 'shared/link_default', { path: products_path, title: t('button.back') } %>
</div>