<div>
  <%= link_to 'Send order to Sheets',
              send_products_path(@period, params.fetch(:user_id)),
              method: :post %>
  <h1>Period: <%= date_by_format(@period.start_date) %> - <%= date_by_format(@period.finish_date) %> </h1>
  <h2>For Cook: <%= @user_name %></h2>
  <h3>Orders</h3>
  <% @orders.each do |order| %>
      <div><%= order.dish.name %>: <%= order.quantity %></div>
  <% end %>
  <h3>Products</h3>
  <% @products.each do |product| %>
      <div><%= product.name %>: <%= product.quantity %></div>
  <% end %>
  <h3>Stock</h3>
  <% @stock.each do |purchase| %>
      <div><%= purchase.product.name_with_unit %>: <%= purchase.stock_left %></div>
  <% end %>
</div>
<%= link_to 'Back', period_orders_path(@period) %>
