<div>
  <h1>Period: <%= @period.start_date %> - <%= @period.finish_date %> </h1>
  <h2>For Cook: <%= @user_name %></h2>
  <h3>Orders</h3>
  <% @orders.each do |order| %>
      <div><%= order.dish.name %>: <%= order.quantity * @period.days %></div>
  <% end %>
  <h3>Products</h3>
  <% @products.each do |key, count| %>
      <% product = Product.find(key) %>
      <div><%= product.name_with_unit %>: <%= count.to_i * @period.days %></div>
  <% end %>
  <h3>Stock</h3>
  <% @stock.each do |purchase| %>
      <div><%= purchase.product.name_with_unit %>: <%= purchase.stock_left %></div>
  <% end %>
</div>
<%= link_to 'Back', period_orders_path(@period) %>
