<div class="container">
  <%= provide(:title, t('places.name')) %>

  <h1><%= t('places.view.title_edit') %></h1>

  <%= render 'form', place: @place %>
</div>

<div class="container btn-container">
  <%= render 'shared/link_default', { path: places_path, title: t('button.back') } %>
  <%= render 'shared/link_default', { path: @place, title: t('button.show') } %>
</div>

