<div class="container">
  <%= provide(:title, t('places.name')) %>

  <table class="table">
  <thead>
    <tr>
      <th><%= t('places.tab.name') %></th>
      <th><%= t('places.tab.description') %></th>
      <th><%= t('places.tab.cook') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.user.name || place.user.email %></td>
        <td>
          <%= link_to edit_place_path(place) do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="container btn-container">
  <% if can?(:create, Place) %>
      <%= render 'shared/link_default', { path: new_place_path, title: t('places.view.title_new') } %>
  <% end %>
</div>

