<!DOCTYPE html>
<html>
  <head>
    <title>Sandwiches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).ready(function() {
        $("#owl-demo").owlCarousel({

          autoPlay: 3000, //Set AutoPlay to 3 seconds
          autoPlay:true,
          items : 4,
          itemsDesktop : [640,5],
          itemsDesktopSmall : [414,4]

        });

      });
    </script>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="banner">
      <%= render 'shared/nav_application' %>
      <%= render 'shared/banner' if current_page? root_path %>
      <div class="about-heading">
        <h2>Menu</h2>
      </div>
    </div>
    <!--<p class="notice"><%#= notice %></p>-->
    <!--<p class="alert"><%#= alert %></p>-->

    <%= yield %>

    <%= render 'shared/footter_application' %>

  </body>
</html>
